<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="io.github.skyhacker2.updater">

    <application
        android:allowBackup="true"
        android:supportsRtl="true">
        <activity android:name="io.github.skyhacker2.aboutpage.AboutActivity">
        </activity>
    </application>

</manifest>